.App-form-text{

display: flex;
justify-content: flex-start;


}

body{
  background: black;
  color: white;
  
}




.App-header{
  background: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.App-list{
 
  margin-right: 205px;
  display: flex;
 
  list-style:none;

}

.App-list li{
  margin-left: 20px;
}


.map-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.map {

  position: absolute;
  top: 100px;
  right: 0;
  height: 0;
  left: 0;
}
